:root {
  --color-text: white;
  --color-page: black;
  --color-navbar: hsl(0 0% 15% / 85%);
  --color-primary: white;
  --color-primary-text: white;
  --color-secondary: hsl(0 0% 30%);
  --color-secondary-text: hsl(0 0% 50%);
}